{% load static %}

<section class="section-box box-preparing">
  <div class="box-preparing-inner">
    <div class="container">
      <div class="text-start">
        <div class="internet-icon">
          <span></span>
          Our Portfolio</div>
        <h2 class="heading-2 mb-20">We Provide Truly Prominent IT Solutions</h2>
        <p class="text-lg">Nivia is an independent web design studio with a rich history. Founded in 1999, it gathered the best web designers &amp; developers.</p>
        <div class="box-button-preparing">
          <ul class="nav nav-tabs justify-content-start" role="tablist">
            <li>
              <a class="btn btn-neutral-100" href="#tab-1" data-bs-toggle="tab" role="tab" aria-controls="tab-1" aria-selected="true">IT Management</a>
            </li>
            <li>
              <a class="btn btn-neutral-100" href="#tab-2" data-bs-toggle="tab" role="tab" aria-controls="tab-2" aria-selected="false">Data Security</a>
            </li>
            <li>
              <a class="btn btn-neutral-100" href="#tab-3" data-bs-toggle="tab" role="tab" aria-controls="tab-2" aria-selected="false">Business Reform</a>
            </li>
            <li>
              <a class="btn btn-neutral-100" href="#tab-4" data-bs-toggle="tab" role="tab" aria-controls="tab-2" aria-selected="false">Firewall Advancement</a>
            </li>
            <li>
              <a class="btn btn-neutral-100" href="#tab-5" data-bs-toggle="tab" role="tab" aria-controls="tab-2" aria-selected="false">Infrastructure Plan</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="block-group-preparing">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="tab-1">
            <div class="item-preparing">
              <div class="item-preparing-left"></div>
              <div class="item-preparing-right">
                <div class="internet-icon">
                  <span></span>
                  Our Features</div>
                <h2 class="heading-2 mb-20">Trusted by worldwide clients since 1980</h2>
                <p class="text-lg neutral-700">In a professional context it often happens that private or corporate clients order a publication news while still not being ready. In a professional context it often happens that private or corporate clients order a publication news while still not being ready.</p>
                <div class="box-list-check">
                  <ul class="list-check">
                    <li>Trustworthy Research</li>
                    <li>SEO Efficiency</li>
                    <li>Time Efficiency</li>
                    <li>Smart Installation Tools</li>
                    <li>Dynamic Boosting</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2">
            <div class="item-preparing">
              <div class="item-preparing-left img-2"></div>
              <div class="item-preparing-right">
                <div class="internet-icon">
                  <span></span>
                  Our Features</div>
                <h2 class="heading-2 mb-20">Trusted by worldwide clients since 1980</h2>
                <p class="text-lg neutral-700">In a professional context it often happens that private or corporate clients order a publication news while still not being ready. In a professional context it often happens that private or corporate clients order a publication news while still not being ready.</p>
                <div class="box-list-check">
                  <ul class="list-check">
                    <li>Trustworthy Research</li>
                    <li>SEO Efficiency</li>
                    <li>Time Efficiency</li>
                    <li>Smart Installation Tools</li>
                    <li>Dynamic Boosting</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3">
            <div class="item-preparing">
              <div class="item-preparing-left img-3"></div>
              <div class="item-preparing-right">
                <div class="internet-icon">
                  <span></span>
                  Our Features</div>
                <h2 class="heading-2 mb-20">Trusted by worldwide clients since 1980</h2>
                <p class="text-lg neutral-700">In a professional context it often happens that private or corporate clients order a publication news while still not being ready. In a professional context it often happens that private or corporate clients order a publication news while still not being ready.</p>
                <div class="box-list-check">
                  <ul class="list-check">
                    <li>Trustworthy Research</li>
                    <li>SEO Efficiency</li>
                    <li>Time Efficiency</li>
                    <li>Smart Installation Tools</li>
                    <li>Dynamic Boosting</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4">
            <div class="item-preparing">
              <div class="item-preparing-left img-4"></div>
              <div class="item-preparing-right">
                <div class="internet-icon">
                  <span></span>
                  Our Features</div>
                <h2 class="heading-2 mb-20">Trusted by worldwide clients since 1980</h2>
                <p class="text-lg neutral-700">In a professional context it often happens that private or corporate clients order a publication news while still not being ready. In a professional context it often happens that private or corporate clients order a publication news while still not being ready.</p>
                <div class="box-list-check">
                  <ul class="list-check">
                    <li>Trustworthy Research</li>
                    <li>SEO Efficiency</li>
                    <li>Time Efficiency</li>
                    <li>Smart Installation Tools</li>
                    <li>Dynamic Boosting</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-5">
            <div class="item-preparing">
              <div class="item-preparing-left img-5"></div>
              <div class="item-preparing-right">
                <div class="internet-icon">
                  <span></span>
                  Our Features</div>
                <h2 class="heading-2 mb-20">Trusted by worldwide clients since 1980</h2>
                <p class="text-lg neutral-700">In a professional context it often happens that private or corporate clients order a publication news while still not being ready. In a professional context it often happens that private or corporate clients order a publication news while still not being ready.</p>
                <div class="box-list-check">
                  <ul class="list-check">
                    <li>Trustworthy Research</li>
                    <li>SEO Efficiency</li>
                    <li>Time Efficiency</li>
                    <li>Smart Installation Tools</li>
                    <li>Dynamic Boosting</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
