{% load static %}
<section class="section-box box-faqs-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="box-faq-left">
          <a class="btn btn-brand-4-sm" href="#">Frequently Asked Questions</a>
          <h2 class="heading-2 mb-20 mt-20">Do you have any questions?</h2>
          <p class="text-lg neutral-700">Below you’ll find answers to the most common questions you may have on Nivia Platform & Online Advertising. Also, please feel free to check out our Facebook & Google Advertising Guides & Academy. If you still can’t find the answer you’re looking for, just
            <a class="text-18-bold brand-1-1" href="#">Contact us</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="accordion accordion-flush accordion-style-2" id="accordionFAQS">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">What audiences can I target when creating my Facebook campaigns?</button>
            </h2>
            <div class="accordion-collapse collapse show" id="flush-collapseOne" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFAQS">
              <div class="accordion-body">
                <p>Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition. Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Can you provide benchmarks for Facebook advertising costs?</button>
            </h2>
            <div class="accordion-collapse collapse" id="flush-collapseTwo" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFAQS">
              <div class="accordion-body">Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition. Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Where will my Google Ads be shown?</button>
            </h2>
            <div class="accordion-collapse collapse" id="flush-collapseThree" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFAQS">
              <div class="accordion-body">Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition. Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Which keywords should I use for my Google Ads campaigns?</button>
            </h2>
            <div class="accordion-collapse collapse" id="flush-collapseFour" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFAQS">
              <div class="accordion-body">Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition. Discover what sets this apart as the market's easiest and most powerful video interviewing platform, and why hiring managers consistently choose us over the competition</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
