{% load static %}
<section class="section-box wow animate__animated animate__fadeIn box-testimonials-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-30"><img src="{% static 'assets/imgs/page/homepage1/img-testimonial.png' %}" alt="Nivia"></div>
      <div class="col-lg-6 mb-30">
        <div class="row align-items-end">
          <div class="col-lg-8 mb-50">
            <a class="btn btn-brand-4-sm" href="#">Testimonials</a>
            <h3 class="mt-20 neutral-0">Here’s Why Our Customers Love Us</h3>
          </div>
          <div class="col-lg-4 mb-50">
            <div class="box-button-slider box-button-slider-black">
              <div class="swiper-button-prev swiper-button-prev-testimonials swiper-button-prev-3">
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.66667 3.33398L2 8.00065M2 8.00065L6.66667 12.6673M2 8.00065H14" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="swiper-button-next swiper-button-next-testimonials swiper-button-next-3">
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.33333 3.33398L14 8.00065M14 8.00065L9.33333 12.6673M14 8.00065H2" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="box-swiper mt-30">
          <div class="swiper-container swiper-group-1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card-testimonial-3">
                  <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/img-review.png' %}" alt="Nivia"></div>
                  <div class="card-info">
                    <p class="text-md neutral-500">“As a long-time user of Nivia Platform's digital marketing, I can confidently attest to the outstanding quality and reliability they offer. ”</p>
                    <div class="card-author-review">
                      <div class="card-author-info">
                        <span class="author-name">ROBERT FOX</span><span class="author-tag">@Amazon</span></div>
                      <div class="card-rate"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-testimonial-3">
                  <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/img-review-2.png' %}" alt="Nivia"></div>
                  <div class="card-info">
                    <p class="text-md neutral-500">“I recently started using Nivia Platform, and the experience has been nothing short of exceptional. From the moment I made my first inquiry, their team has been consistently accommodating and attentive. ”</p>
                    <div class="card-author-review">
                      <div class="card-author-info">
                        <span class="author-name">ALAN WALKER</span><span class="author-tag">@Facetime</span></div>
                      <div class="card-rate"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"><img src="{% static 'assets/imgs/page/homepage1/star.svg' %}" alt="Nivia"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
