{% extends "base.html" %}
{% load static %}

{% block main %}

  <section class="section-box box-prepared-section mt-25">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-6 mb-30">
          <a class="btn btn-brand-4-sm" href="#">About Us</a>
          <h2 class="heading-2">When you are more prepared, your future will be brighter</h2>
        </div>
        <div class="col-lg-6 mb-30">
          <h6 class="neutral-500">Since 2010 we’ve been working with amazing organisations to create meaningful impact and compelling experiences.</h6>
        </div>
      </div>
      <div class="row mt-45">
        <div class="col-lg-4">
          <div class="card-feature-2 card-feature-list">
            <div class="card-image"><img src="{% static 'assets/imgs/page/homepage3/marketing.svg' %}"></div>
            <div class="card-info">
              <a href="#">
                <h3 class="text-22-bold">Our philosophy</h3>
                <p class="text-lg neutral-500">We also know that with all our wellness initiatives, customer value and service, our doors to the community.</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-feature-2 card-feature-list">
            <div class="card-image"><img src="{% static 'assets/imgs/page/homepage3/digital.svg' %}"></div>
            <div class="card-info">
              <a href="#">
                <h3 class="text-22-bold">Our Mission</h3>
                <p class="text-lg neutral-500">Our mission, and our vision, is our mission. We are here to support and encourage individuals in their journey.</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-feature-2 card-feature-list">
            <div class="card-image"><img src="{% static 'assets/imgs/page/homepage3/product.svg' %}"></div>
            <div class="card-info">
              <a href="#">
                <h3 class="text-22-bold">Our Identity</h3>
                <p class="text-lg neutral-500">Our commitment to our clients is key to our success. We make it a point to meet with our clients to make sure.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box box-our-offices">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <h2 class="neutral-0">Our offices
          </h2>
        </div>
        <div class="col-lg-4">
          <div class="box-button-slider box-button-slider-black">
            <div class="swiper-button-prev swiper-button-prev-testimonials swiper-button-prev-3">
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.66667 3.33398L2 8.00065M2 8.00065L6.66667 12.6673M2 8.00065H14" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <div class="swiper-button-next swiper-button-next-testimonials swiper-button-next-3">
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33333 3.33398L14 8.00065M14 8.00065L9.33333 12.6673M14 8.00065H2" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="box-swiper mt-45">
        <div class="swiper-container swiper-group-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card-features-6">
                    <div class="card-image">
                      <img src="{% static 'assets/imgs/page/about/london.svg' %}" alt="Eclipto"></div>
                    <div class="card-info">
                      <h5 class="mb-12">London</h5>
                      <p class="mb-12 text-md neutral-300">4517 Washington Ave. Manchester, Kentucky 39495</p>
                      <p class="text-md neutral-300 mb-30">Hours: 8:00 - 17:00, Mon - Sat
                      </p>
                      <a class="btn btn-link-white" href="#">
                        <svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="38" height="38" rx="19" fill=""></rect>
                          <g clip-path="url(#clip0_5_2504)">
                            <path d="M23.6537 16.8139L14.718 25.7497L13.25 24.2817L22.1847 15.3459H14.31V13.2695H25.7301V24.6897H23.6537V16.8139Z" fill="#191919"></path>
                          </g>
                          <defs>
                            <clippath id="clip0_5_2504">
                              <rect width="13" height="13" fill="white" transform="translate(13 13)"></rect>
                            </clippath>
                          </defs>
                        </svg>Contact Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card-features-6">
                    <div class="card-image">
                      <img src="{% static 'assets/imgs/page/about/paris.png' %}" alt="Eclipto"></div>
                    <div class="card-info">
                      <h5 class="mb-12">Paris</h5>
                      <p class="mb-12 text-md neutral-300">4517 Washington Ave. Manchester, Kentucky 39495</p>
                      <p class="text-md neutral-300 mb-30">Hours: 8:00 - 17:00, Mon - Sat
                      </p>
                      <a class="btn btn-link-white" href="#">
                        <svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="38" height="38" rx="19" fill=""></rect>
                          <g clip-path="url(#clip0_5_2504)">
                            <path d="M23.6537 16.8139L14.718 25.7497L13.25 24.2817L22.1847 15.3459H14.31V13.2695H25.7301V24.6897H23.6537V16.8139Z" fill="#191919"></path>
                          </g>
                          <defs>
                            <clippath id="clip0_5_2504">
                              <rect width="13" height="13" fill="white" transform="translate(13 13)"></rect>
                            </clippath>
                          </defs>
                        </svg>Contact Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card-features-6">
                    <div class="card-image">
                      <img src="{% static 'assets/imgs/page/about/toronto.png' %}" alt="Eclipto"></div>
                    <div class="card-info">
                      <h5 class="mb-12">Toronto</h5>
                      <p class="mb-12 text-md neutral-300">4517 Washington Ave. Manchester, Kentucky 39495</p>
                      <p class="text-md neutral-300 mb-30">Hours: 8:00 - 17:00, Mon - Sat
                      </p>
                      <a class="btn btn-link-white" href="#">
                        <svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="38" height="38" rx="19" fill=""></rect>
                          <g clip-path="url(#clip0_5_2504)">
                            <path d="M23.6537 16.8139L14.718 25.7497L13.25 24.2817L22.1847 15.3459H14.31V13.2695H25.7301V24.6897H23.6537V16.8139Z" fill="#191919"></path>
                          </g>
                          <defs>
                            <clippath id="clip0_5_2504">
                              <rect width="13" height="13" fill="white" transform="translate(13 13)"></rect>
                            </clippath>
                          </defs>
                        </svg>Contact Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card-features-6">
                    <div class="card-image">
                      <img src="{% static 'assets/imgs/page/about/osaka.png' %}" alt="Eclipto"></div>
                    <div class="card-info">
                      <h5 class="mb-12">Osaka</h5>
                      <p class="mb-12 text-md neutral-300">4517 Washington Ave. Manchester, Kentucky 39495</p>
                      <p class="text-md neutral-300 mb-30">Hours: 8:00 - 17:00, Mon - Sat
                      </p>
                      <a class="btn btn-link-white" href="#">
                        <svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="38" height="38" rx="19" fill=""></rect>
                          <g clip-path="url(#clip0_5_2504)">
                            <path d="M23.6537 16.8139L14.718 25.7497L13.25 24.2817L22.1847 15.3459H14.31V13.2695H25.7301V24.6897H23.6537V16.8139Z" fill="#191919"></path>
                          </g>
                          <defs>
                            <clippath id="clip0_5_2504">
                              <rect width="13" height="13" fill="white" transform="translate(13 13)"></rect>
                            </clippath>
                          </defs>
                        </svg>Contact Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card-features-6">
                    <div class="card-image">
                      <img src="{% static 'assets/imgs/page/about/mumbai.png' %}" alt="Eclipto"></div>
                    <div class="card-info">
                      <h5 class="mb-12">Mumbai</h5>
                      <p class="mb-12 text-md neutral-300">4517 Washington Ave. Manchester, Kentucky 39495</p>
                      <p class="text-md neutral-300 mb-30">Hours: 8:00 - 17:00, Mon - Sat
                      </p>
                      <a class="btn btn-link-white" href="#">
                        <svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="38" height="38" rx="19" fill=""></rect>
                          <g clip-path="url(#clip0_5_2504)">
                            <path d="M23.6537 16.8139L14.718 25.7497L13.25 24.2817L22.1847 15.3459H14.31V13.2695H25.7301V24.6897H23.6537V16.8139Z" fill="#191919"></path>
                          </g>
                          <defs>
                            <clippath id="clip0_5_2504">
                              <rect width="13" height="13" fill="white" transform="translate(13 13)"></rect>
                            </clippath>
                          </defs>
                        </svg>Contact Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box box-awards-section">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-4 mb-30">
          <h2 class="mb-15">Our Awards</h2>
          <p class="text-md neutral-700">Holisticly actualize magnetic testing procedures for high-quality initiatives. Compellingly enhance client-based users whereas strategic bandwidth. Appropriately exploit cost effective.</p>
        </div>
        <div class="col-lg-8 mb-30">
          <div class="row align-items-end">
            <div class="col-sm-3 col-6 mb-30"><img src="{% static 'assets/imgs/page/about/award.png' %}" alt="Eclipto"></div>
            <div class="col-sm-3 col-6 mb-30"><img src="{% static 'assets/imgs/page/about/award2.png' %}" alt="Eclipto"></div>
            <div class="col-sm-3 col-6 mb-30"><img src="{% static 'assets/imgs/page/about/award3.png' %}" alt="Eclipto"></div>
            <div class="col-sm-3 col-6 mb-30"><img src="{% static 'assets/imgs/page/about/award4.png' %}" alt="Eclipto"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-box box-why-trusted box-why-trusted-black">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-4 mb-30">
          <h2 class="text-32-bold">See why we are<br class="d-none d-lg-block">
            trusted the world over</h2>
        </div>
        <div class="col-lg-8 mb-30">
          <div class="box-numbers">
            <div class="item-number">
              <h3 class="heading-2">
                <span class="count">469</span><span>k</span></h3>
              <p class="text-xl neutral-700">Social followers</p>
            </div>
            <div class="item-number">
              <h3 class="heading-2">
                <span class="count">25</span><span>k+</span></h3>
              <p class="text-xl neutral-700">Happy Clients</p>
            </div>
            <div class="item-number">
              <h3 class="heading-2">
                <span class="count">756</span><span>+</span></h3>
              <p class="text-xl neutral-700">Projects Done</p>
            </div>
            <div class="item-number">
              <h3 class="heading-2">
                <span class="count">100</span><span>+</span></h3>
              <p class="text-xl neutral-700">Global branches</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-box box-get-touch-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="box-image-get-touch">
            <span class="setup"><img src="{% static 'assets/imgs/page/about/setup.png' %}" alt="Eclipto"></span><span class="icon-1"><img src="{% static 'assets/imgs/page/about/icon.png' %}" alt="Eclipto"></span><img src="{% static 'assets/imgs/page/about/img-touch.png' %}" alt="Eclipto"></div>
        </div>
        <div class="col-lg-6">
          <a class="btn btn-brand-4-sm" href="#">Contact Us</a>
          <h2 class="mb-20 mt-20">Get in Touch</h2>
          <p class="text-md neutral-700">Contact us below and we will get back to you shortly.</p>
          <div class="block-form-contact mt-45">
            <form action="#">
              <div class="form-group">
                <label for="fullname">
                  Your Name *</label>
                <input class="form-control" type="text" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="fullname">
                  Your Email *</label>
                <input class="form-control" type="text" placeholder="email@website.com">
              </div>
              <div class="form-group">
                <label for="fullname">
                  Message *</label>
                <textarea class="form-control" rows="7" placeholder="How can we help you?"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-black btn-rounded" type="submit">Send Message
                  <svg width="22" height="8" viewbox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 3.99934L18.4791 0.478516V3.30642H0V4.69236H18.4791V7.52031L22 3.99934Z" fill=""></path>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock main %}