{% extends "base.html" %}
{% load cache %}
{% block css %}
  {{ block.super }}
  #sticky-sidebar{ position: sticky; top: 0; }
{% endblock css %}
{% load static %}
{% block main %}

  <section class="section-box box-content-detail mt-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-lg-middle">
          <div class="head-detail">
            <p class="text-md neutral-500 mb-12">{{position.created_at|date:"Y, M d"}}, by<a class="text-md-bold neutral-1000 ml-10" href="javascript:void()">Admin</a>
            </p>
            <h3 class="mb-12">{{position.title|title}}</h3>
            <div class="box-button-tags">
              <a class="btn btn-tag-2" href="javascript:void()">Temporary</a>
              <a class="btn btn-tag-2" href="javascript:void()">Full Time</a>
              <a class="btn btn-tag-2" href="javascript:void()">Remote</a>
              <a class="btn btn-tag-2" href="javascript:void()">Internship</a>
            </div>
          </div>
          <div class="main-detail">
            {{position.detail|safe}}
          </div>
        </div>
        <div class="col-lg-3 order-lg-first">
          <div class="sidebar">
            <div class="box-sidebar-rounded">
              <div class="sidebar-head">
                <h6>Job Overview</h6>
              </div>
              <div class="sidebar-content">
                <div class="item-line">
                  <div class="text-date-post text-16-bold">Date Posted:</div>
                  <p class="text-date-post-value text-md neutral-500">Posted
                    {{position.created_at|timesince}}
                    ago</p>
                </div>
                <div class="item-line">
                  <div class="text-date-expire text-16-bold">Expiration date:</div>
                  <p class="text-date-post-value text-md neutral-500">{{position.expiry|date:"M, d Y"}}</p>
                </div>
                <div class="item-line">
                  <div class="text-location text-16-bold">Job Type:</div>
                  <p class="text-date-post-value text-md neutral-500">{{position.get_type_display}}</p>
                </div>
                <div class="item-line">
                  <div class="text-salary text-16-bold">Salary</div>
                  <p class="text-date-post-value text-md neutral-500">{{position.salary}}</p>
                </div>

                <div class="box-button-sidebar">
                  <a class="btn btn-black btn-rounded" href="#contact">Apply For Job
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="8" viewbox="0 0 22 8" fill="none">
                      <path d="M22 4.00032L18.4791 0.479492V3.3074H0V4.69333H18.4791V7.52129L22 4.00032Z" fill=""></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="box-sidebar-normal">
              <a href="#"><img src="{% static 'assets/imgs/page/job/ads.png' %}" alt="Eclepto"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 order-lg-right dark ml-5" id="sticky-sidebar" style="background-color:#000000;">
          <div class="sidebar">
            sticky section
          </div>
        </div>
      </div>
    </div>``
  </section>
  {% if related_positions %}

    <section class="section-box box-related-job box-latest-news">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-8 mb-30">
            <span class="btn btn-brand-4-sm">Similar positions</span>
            <h2 class="mt-15">Related Jobs</h2>
          </div>
          <div class="col-lg-4 mb-30">
            <div class="box-button-slider box-button-slider-team justify-content-end">
              <div class="swiper-button-prev swiper-button-prev-testimonials swiper-button-prev-3">
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.66667 3.33398L2 8.00065M2 8.00065L6.66667 12.6673M2 8.00065H14" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="swiper-button-next swiper-button-next-testimonials swiper-button-next-3">
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.33333 3.33398L14 8.00065M14 8.00065L9.33333 12.6673M14 8.00065H2" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="box-swiper mt-30">
          <div class="swiper-container swiper-group-3">
            <div class="swiper-wrapper">
              {% for position in related_positions %}
                <div class="swiper-slide">
                  <div class="card-job">
                    <div class="card-head">
                      <div class="card-head-left">
                        <a href="{{position.get_absolute_url}}">
                          <h5>{{position.title|truncatewords:"3"}}</h5>
                        </a>
                        <p class="text-md">{{position.get_type_display}}</p>
                      </div>
                      <div class="card-head-right">
                        <a href="#">
                          <svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="38" height="38" rx="19" fill=""></rect>
                            <g clip-path="url(#clip0_26_2613)">
                              <path d="M23.6537 16.8139L14.718 25.7497L13.25 24.2817L22.1847 15.3459H14.31V13.2695H25.7301V24.6897H23.6537V16.8139Z" fill="#191919"></path>
                            </g>
                            <defs>
                              <clippath id="clip0_26_2613">
                                <rect width="13" height="13" fill="white" transform="translate(13 13)"></rect>
                              </clippath>
                            </defs>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="card-info">
                      <p class="text-md neutral-500">{{position.description|truncatewords:"20"}}</p>
                      <div class="card-meta">
                        <span class="location text-md"></span><span class="card-price text-md">{{position.salary}}</span></div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% include "components/shared/contact.html" %}

  <script type="text/javascript">
    /* Project specific Javascript goes here. */
    const stickySidebar = document.getElementById("sticky-sidebar");
    // Get the initial top offset of the sticky section
    const stickySidebarOffset = stickySidebar.offsetTop;

    // Function to change position to static when section reaches the top
    function checkScroll() {
      if (window.pageYOffset >= stickySectionOffset) {
        stickySidebar.style.position = "static";
      } else {
        stickySidebar.style.position = "sticky";
      }
    }

    // Add scroll event listener to check scroll position
    window.addEventListener("scroll", checkScroll);
    // window.removeEventListener("scroll", checkScroll);
  </script>

{% endblock main %}

{% block inline_javascript %}{% endblock inline_javascript %}
