{% extends "base.html" %}

{% load static %}

{% block main %}

  <section class="section-box box-content-contact">
    <div class="container">
      <div class="text-center contact-head">
        <span class="icon-1 shape-1"></span>
        <span class="icon-2 shape-2"></span><span class="btn btn-brand-4-sm">Contact Us</span>
        <h2 class="heading-2 mb-20 mt-15">Get in Touch</h2>
        <div class="text-center">
          <nav class="container-breadcrumb" style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="box-border-rounded">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <a class="btn btn-brand-4-sm" href="#">Contact Us</a>
            <h3 class="mb-20 mt-20">To make requests for further information, contact us via our social channels.</h3>
            <p class="text-md neutral-700">Contact us below and we will get back to you shortly.</p>
            <div class="row mt-50">
              <div class="col-lg-12">
                <div class="card-feature-2">
                  <div class="card-image"><img src="{% static 'assets/imgs/page/homepage3/marketing.svg' %}"></div>
                  <div class="card-info">
                    <h3 class="text-22-bold">Address</h3>
                    <p class="text-md neutral-700">4517 Washington Ave. Manchester, Kentucky 39495 58 Howard Street #2 San Francisco, CA 941</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card-feature-2">
                  <div class="card-image"><img src="{% static 'assets/imgs/page/homepage3/digital.svg' %}"></div>
                  <div class="card-info">
                    <h3 class="text-22-bold">Phone</h3>
                    <div class="text-md neutral-700">
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="tel:+1(800)9684021">+1 (800) 968-40-21</a><br>
                          <a href="tel:+(406)5550120">+(406) 555-0120</a>
                        </div>
                        <div class="col-sm-6">
                          <a href="tel:+1(800)9684021">(+68)1221 09876</a><br>
                          <a href="tel:+(406)5550120">(+47)1221 09878</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card-feature-2">
                  <div class="card-image"><img src="{% static 'assets/imgs/page/homepage3/digital.svg' %}"></div>
                  <div class="card-info">
                    <h3 class="text-22-bold">Email</h3>
                    <div class="text-md neutral-700">
                      <div class="row">
                        <div class="col-sm-6">
                          <a class="neutral-700" href="mailto:sale@nivia.com">sale@nivia.com</a>
                        </div>
                        <div class="col-sm-6">
                          <a class="neutral-700" href="mailto:contact@nivia.com">contact@nivia.com</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center"><img src="{% static 'assets/imgs/page/contact/img-contact.png' %}"></div>
        </div>
      </div>
    </div>
  </section>

{% endblock main %}